/* could move the footer and nav bar styles into a central css location */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

header a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

main li {
  flex-basis: 30%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  height: 240px;
  background-color: white;
}

a.bike-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

main li:hover {
  background-color: rgb(238, 250, 183);
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color:aliceblue;
}

.footer-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5f5e5e;
  padding: 1rem;
  text-align: center;
  }

