
body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

header a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
  margin-top: 150px;
}



h1 {
  font-size: 24px;
  margin-bottom: 2rem;
}

p {
  margin: 0.5rem 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}