<!DOCTYPE html>
<html>
<head>
  <title>Upload New Bike</title>
  <link rel="stylesheet" href="/stylesheets/admin.css" />
</head>
<body>
  <h1>Upload New Bike</h1>

  <form action="/admin" method="POST">
    <main>
    <label for="bikeType" class="information-heading">Select the bike type:</label><br>
    <label><input type="radio" name="bikeType" value="1"> Mountain Bike</label>
    <label><input type="radio" name="bikeType" value="2"> Road Bike</label>
    <label><input type="radio" name="bikeType" value="3"> Hybrid Bike</label>
    <label><input type="radio" name="bikeType" value="4"> Gravel Bike</label><br>
    <label for="dailyRate" class="information-heading">Daily Rate:</label><br>
    <input type="text" name="dailyRate"><br>
    <button type="submit">Upload</button>
  </main>
  </form>

</body>
</html>