<!DOCTYPE html>
<html>
<head>
  <title>Upload New Bike</title>
  <link rel="stylesheet" href="/stylesheets/admin.css"?
</head>
<body>
  <h1>Upload New Bike</h1>

  <form action="/upload" method="POST">
    <label for="bikeType">Select the bike type:</label>
    <label><input type="checkbox" name="bikeType" value="mountain"> Mountain Bike</label>
    <label><input type="checkbox" name="bikeType" value="road"> Road Bike</label>
    <label><input type="checkbox" name="bikeType" value="hybrid"> Hybrid Bike</label>

    <label for="dailyRate">Daily Rate:</label>
    <input type="text" name="dailyRate" placeholder="Enter the daily rate">

    <button type="submit">Upload</button>
  </form>

</body>
</html>