<!DOCTYPE html>
<html>
  <head>
    <title>Bike Details</title>
    <link rel="stylesheet" href="/stylesheets/bikedetails.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/bikeRental">Rentals</a>
        <a href="/user">User Profile</a>
      </nav>
    </header>
    <!-- need to add form action and method ex. action="/bikeDetails" method="POST"-->
    <form>
    <main>
      <h1>Bike Details</h1>

      <label for="start-date">Bike ID:</label>
      <input type="text" name="bikeId" value="<%= data.bikeId %>" readonly><br>
     
         <label for="start-date">Bike Type:</label>
      <input type="text" name="bikeType" value="<%= description.description %>" readonly><br>
     
     

      <label for="start-date">Daily Rate:</label>
      <input type="text" name="dailyRate" value="<%= data.dailyRate %>" readonly><br>

    </main>
    <section class="rentals-section">
      <h1>Rental Details</h1>
      <label for="start-date">Start Date:</label><br>
      <input type="date" id="start-date" name="start-date"><br>
    
      <label for="end-date">End Date:</label><br>
      <input type="date" id="end-date" name="end-date"><br>
    </section>

    <section class="checkout-section">
      <h1>Checkout Details</h1>
      <p>Total: </p>
    </section>


      <input type="submit" value="Rent Bike" class="button">
     

      </form>

      <a href="/bikeRental" class="back-button">Back</a>
  </body>
</html>