<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/bikeRental">Rentals</a>
        <% if (data) { %>
          <a href="/admin">Admin Panel</a> 
        <% } %>
        <a href="/user">User Profile</a>
      </nav>
    </header>
    <main>
    <section class="left margin-top-fifty">
      <h1 class="section-heading">UBike</h1>
      <p class="center">A new and exciting way to commute!</p>
      <p class="center">No traffic. No expensive costs. No Fuss.</p>
      <p class="section-heading center"><a href="/bikeRental">Find your new ride now!</a></p>
    </section>

    
    <section class="right margin-top-fifty">
      <img src="/images/homepage-bike.png" alt="Placeholder Image">
    </section>
  </main>
    
  
    <section class="services clear margin-top-fifty">
      <h2 class="section-heading center">Today's Weather</h2>
      <nav class="services">
        <article class="service">
          <h3>Cape Town:</h3>
          <p><%= weatherC %></p>
        </article>
        <article class="service">
          <h3>Johannesburg:</h3>
          <p><%= weatherJ %></p>
        </article>
        <article class="service">
          <h3>Durban:</h3>
          <p><%= weatherD %></p>
        </article>
      </nav>
    </section>
  </body>

  <footer>
    <p class="footer-text">UBike</p>
  </footer>
</html>