<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/bikeRental">Rentals</a>
        <a href="/user">User Profile</a>
      </nav>
    </header>
    <main>
    <section class="left margin-top-fifty">
      <h1 class="section-heading">UBike</h1>
      <p class="center">A new and exciting way to commute!</p>
      <p class="center">No traffic. No expensive costs. No Fuss.</p>
      <p class="section-heading center"><a href="/bikeRental">Find your new ride now!</a></p>
    </section>

    
    <section class="right margin-top-fifty">
      <img src="/images/homepage-bike.png" alt="Placeholder Image">
    </section>
  </main>
    
  
    <section class="services clear margin-top-fifty">
      <h2 class="section-heading center">Our Goals</h2>
      <nav class="services">
        <article class="service">
          <h3>Bike Rental Made Simple</h3>
          <p>some information over here, im just lazy to type it out</p>
        </article>
        <article class="service">
          <h3>Any Time, Any Place</h3>
          <p>some information over here, im just lazy to type it out</p>
        </article>
        <article class="service">
          <h3>We are here to help!</h3>
          <p>some information over here, im just lazy to type it out</p>
        </article>
      </nav>
    </section>
  </body>

  <footer>
    <p class="footer-text">UBike</p>
  </footer>
</html>