<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
  </head>
  <body>

    <section class="left margin-top-fifty">
      <h1 class="section-heading">Login</h1>
      <form class="center" action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input class="section-heading center" type="submit" value="Login">
      </form>
    </section>
  </body>
</html>