<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/loginstyle.css" />
  </head>
  <body>
    <section class="left margin-top-fifty">
      <h1 class="section-heading">UBike</h1>
      <p class="center">A new and exciting way to commute!</p>
      <p class="center">No traffic. No expensive costs. No Fuss.</p>
    </section>
    <section class="right margin-top-fifty">
      <img src="/images/homepage-bike.png" alt="Placeholder Image">
    </section>

    <main>
      <section class=" clear margin-top-fifty">
        <h2 class="section-heading">Login</h2>
        <form class="center" action="/login" method="POST">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <br />
          <input class="section-heading center" type="submit" value="Login" />
        </form>
      </section>
    </main>
  </body>
  <footer>
    <p class="footer-text">UBike - Your #1 Bike rental service :)</p>
  </footer>
</html>
